// Base values



// Typography
$font-family: 'Open Sans', sans-serif;

$font-size-base: 16px;
// $font-size-large: ;
// $font-size-small: ;

$line-height-base: 1.5;

$header-font-weight: 700;
$sub-header-font-weight: 400;
$normal-font-weight: 400;

