// Base colors

$primary-purple: #8f5aa1;
$primary-green: #218235;

$dark-grey: #393c3d;
$normal-grey: #efefef;
$light-grey: #f7f7f7;

// Brand colors

$brand-success: #55ae3a;
$brand-alert: #c93e3b;
$brand-normal: #4d90fe;

// Link colors

$link-color: #3b95d2;
$link-color-visited: #800080 ;

// $link-color-active: ;

// Text colors

$base-text-color: $dark-grey;

// Button clors

$button-text-color: #fff;
$button-background-color: #4d90fe;

// Category colors and shadows

$cat_1: #7391e3;
$cat_2: #1fc5ed;
$cat_3: #b45a3c;
$cat_4: #ec4745;
$cat_5: #f64681;
$cat_6: #ff9f35;
$cat_7: #25d89d;
$cat_8: #636363;

// Logo colors
$logo-color: $dark-grey;

// Nav colors
$nav-link-color: $dark-grey;

$nav-link-active-bg-color: darken( $dark-grey, 10% );

// Body background color

$body-bg: $light-grey;

// Wrapper background color

$wrapper-bg: $light-grey;

// Border colors

$border-color: #dedede;