// Base colors

$primary-purple: #8f5aa1;
$primary-green: #218235;

$dark-grey: #393c3d;
$normal-grey: #efefef;
$light-grey: #f7f7f7;

// Brand colors

$brand-success: #55ae3a;
$brand-alert: #c93e3b;
$brand-normal: #3b72b8;

// Link colors

$link-color: #3b95d2;
$link-color-visited: complement($link-color) ;

// $link-color-active: ;

// Text colors

$base-text-color: $dark-grey;

// Button clors

$button-text-color: #fff;

// Logo colors
$logo-color: $dark-grey;

// Nav colors
$nav-link-color: $dark-grey;

$nav-link-active-bg-color: darken( $dark-grey, 10% );

// Body background color

$body-bg: $light-grey;

// Wrapper background color

$wrapper-bg: $light-grey;

// Border colors

$border-color: #dedede;