// Base colors

$primary-purple: #8f5aa1;
$primary-green: #218235;

// Brand colors

$brand-success: #55ae3a;
$brand-alert: #c93e3b;
$brand-normal: #3b72b8;

// Link colors

// $link-color: ;
// $link-color-active: ;

// Text colors

$text-color: #fff;