<h1>Messages index view</h1>
<p>
	<%=@messages.inspect%>
</p>
<form action="/messages/search" method="post">
	<input name="search[postal_code]" placeholder="postcode">
	<input name="search[radius]" placeholder="afstand">
	<input type="submit">
</form>
<%=link_to t('helpers.submit.message.create'), :new_message %>