.edit-button {
  @include button($color: $brand-normal, $text-color: $button-text-color, $button-radius: 5px);
  height: 24px;
  font-size: 15px;
  line-height: 24px;
  padding: 0;
}
.submit_button, .prev, #new_button, #details_button {
  @include button($color: $brand-normal, $text-color: $button-text-color, $button-radius: 5px);
}

#react_button {
  @include button($color: $brand-success, $text-color: $button-text-color, $button-radius: 5px);
}