// base settings //

$category_width: 100%;
$category_height: 150px;
$category_margin: 27px;
$category_padding: 0px;

$category_image_height: 100px;
$category_image_width: 100%;
$category_image_margin: 12px;
$category_image_radius: 3px;

// category 1 //

.category_button {
  @include button($text-color: $button-text-color, $button-radius: 3px);
  width: $category_width;
  height: $category_height;
  margin-bottom: $category_margin;
  padding: $category_padding;
}

.category_image {
	height: $category_image_height;
	width: $category_image_width;
	margin-bottom: $category_image_margin;
	border-top-left-radius: $category_image_radius;
	border-top-right-radius: $category_image_radius;
	background-size: cover;
	background-repeat: none;
}

.boodschappen_doen_image {
	background-image: url(boodschappen.jpg);
	background-position: 20% 20%;
}

.electronica_en_computer_image {
	background-image: url(computer.jpg);
	background-position: 20% 40%;
}

.financiën_image {
	background-image: url(financien.jpg);
	background-position: 20% 45%;
}

.huishoudelijk_image {
	background-image: url(huishouden.jpg);
	background-position: 20% 40%;
}

.meerijden_image {
	background-image: url(meerijden.jpg);
	background-position: 20% 40%;
}

.sport_en_recreatie_image {
	background-image: url(recreatie.png);
	background-position: 20% 20%;
}

.tuin_en_buitenwerk_image {
	background-image: url(tuin.jpg);
	background-position: 20% 20%;
}

.overig_image {
	background-image: url(overig.jpg);
	background-position: 20% 60%;
}


.boodschappen_doen_color {
	background-color: $cat_1;
  box-shadow: 3px 3px 0px darken($cat_1, 10%);
  &:hover {
		background-color: $cat_1;
		box-shadow: 2px 2px 0px darken($cat_1, 10%);
	}
	&:active {
		background-color: $cat_1;
		box-shadow: 1px 1px 0px darken($cat_1, 10%);
	}
}
.electronica_en_computer_color {
	background-color: $cat_2;
  box-shadow: 3px 3px 0px darken($cat_2, 10%);
  &:hover {
		background-color: $cat_2;
		box-shadow: 2px 2px 0px darken($cat_2, 10%);
	}
	&:active {
		background-color: $cat_2;
		box-shadow: 1px 1px 0px darken($cat_2, 10%);
	}
}
.financiën_color {
	background-color: $cat_3;
  box-shadow: 3px 3px 0px darken($cat_3, 10%);
  &:hover {
		background-color: $cat_3;
		box-shadow: 2px 2px 0px darken($cat_3, 10%);
	}
	&:active {
		background-color: $cat_3;
		box-shadow: 1px 1px 0px darken($cat_3, 10%);
	}
}
.huishoudelijk_color {
	background-color: $cat_4;
  box-shadow: 3px 3px 0px darken($cat_4, 10%);
  &:hover {
		background-color: $cat_4;
		box-shadow: 2px 2px 0px darken($cat_4, 10%);
	}
	&:active {
		background-color: $cat_4;
		box-shadow: 1px 1px 0px darken($cat_4, 10%);
	}
}
.meerijden_color {
	background-color: $cat_5;
  box-shadow: 3px 3px 0px darken($cat_5, 10%);
  &:hover {
		background-color: $cat_5;
		box-shadow: 2px 2px 0px darken($cat_5, 10%);
	}
	&:active {
		background-color: $cat_5;
		box-shadow: 1px 1px 0px darken($cat_5, 10%);
	}
}
.sport_en_recreatie_color {
	background-color: $cat_6;
  box-shadow: 3px 3px 0px darken($cat_6, 10%);
  &:hover {
		background-color: $cat_6;
		box-shadow: 2px 2px 0px darken($cat_6, 10%);
	}
	&:active {
		background-color: $cat_6;
		box-shadow: 1px 1px 0px darken($cat_6, 10%);
	}
}
.tuin_en_buitenwerk_color {
	background-color: $cat_7;
  box-shadow: 3px 3px 0px darken($cat_7, 10%);
  &:hover {
		background-color: $cat_7;
		box-shadow: 2px 2px 0px darken($cat_7, 10%);
	}
	&:active {
		background-color: $cat_7;
		box-shadow: 1px 1px 0px darken($cat_7, 10%);
	}
}
.overig_color {
	background-color: $cat_8;
  box-shadow: 3px 3px 0px darken($cat_8, 10%);
  &:hover {
		background-color: $cat_8;
		box-shadow: 2px 2px 0px darken($cat_8, 10%);
	}
	&:active {
		background-color: $cat_8;
		box-shadow: 1px 1px 0px darken($cat_8, 10%);
	}
}