input[type="text"], textarea {
	@include text-field;
}

textarea{
	height: 200px;
}

// Disable placeholder on input focus
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: transparent!important;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: transparent!important;
}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent!important;
}
input:focus:placeholder, textarea:focus:placeholder {
  color: transparent!important;
}

//styling for overview text
.button_wrapper{
	word-wrap: break-word;
}

.message_row {
	overflow: visible;
	height: 1px !important;
}
.message_wrapper{
  background-color: #ffffff;
  border: solid 1px $border-color;
  border-bottom: 0;
  border-top: 0; 
  padding: 10px;
}

.first_wrap{
	border-top: solid 1px $border-color;
}

.last_wrap{
	border-bottom: solid 1px $border-color;
}

// Hints
.hint_wrapper{
	background-color: #ffffff;
	border: solid 1px $border-color;
	display: none;
	float: right;
	// left: 2%;
	width: 31%;
	padding: 8px;
	min-height: 80px;

}

@media screen and (max-width: 768px) {
	.visible_hint{
		display: none;
	}

}

.hint{
	color: $brand-normal;
	font-weight: 700;
}

.example {
	color: $base-text-color;
	font-weight: 700;
	display: block;
}

.arrow{
	width: 14px;
	height: 27px;
	overflow: hidden;
	position: absolute;
	left: -14px;
	top: 37px;
}

.arrow span{
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865474,M12=-0.7071067811865477,M21=0.7071067811865477,M22=0.7071067811865474,SizingMethod='auto expand')";

	display: block;
	margin: 6px;
	width: 14px;
	height: 14px;
	overflow: hidden;
	border: solid 1px $border-color;
	background: #ffffff;
}

.error{
	@include error($color: $brand-alert);
}
.succes {
	@include error($color: $brand-success);
}