body{
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $base-text-color;
  background-color: $body-bg;
}

.header h1, p{
  padding-bottom: 10px;
}

.header { 
  border-bottom: solid 1px #95a5a6;
  padding: 20px 0px;
}

.wrapper{
	background-color: $wrapper-bg;
	// margin-top: 50px;
	padding: 20px;
}