body{
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $base-text-color;
  background-color: $body-bg;
}

.header h1, p{
  padding-bottom: 10px;
}

.header { 
  border-bottom: solid 1px #95a5a6;
  padding: 20px 0px;
}

.wrapper{
	background-color: $wrapper-bg;
	// margin-top: 50px;
	padding: 30px;
  @include rounded($radius: 0 0 10px 10px);
}

.hidden {
  display: none;
}

.none_visable {
  visibility:hidden;
}

form {
  margin: 0px
}
.wrapper hr {
  margin: 0px;
}

#avatar_placeholder {
  color: $brand-alert;
  line-height: 100px;
}