body{
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $base-text-color;
  background-color: $body-bg;
}

.wrapper {
	background-color: $wrapper-bg;
	// margin-top: 50px;
	padding-top: 20px;
  @include rounded($radius: 0 0 10px 10px);
}
.wrapper hr {
  margin: 0px;
}

.hidden {
  display: none;
}

.none_visible {
  visibility: hidden;
}

form {
  margin: 0px
}

.sub_header {
  margin-bottom: 10px;
  font-size: ceil($font-size-base * 0.75);
  font-weight: bold;
}
.text_right {
  text-align: right;
}
.message_date {
  display: inline-block;
  width: 100%;
}