.home_header {
	border: solid $border-color 1px;
	background-color: $normal-grey;
	padding-left: 0.9375em;
	padding-right: 0.9375em;
	padding-top: 0.3em;
}
.home_sub_header_city, .home_sub_header_date{
	margin-bottom: 10px;
  	font-size: ceil($font-size-base * 0.75);
}
.home_sub_header_category {
	margin-top: 10px;
	font-size: ceil($font-size-base * 0.75);
}

.home_sub_header_date {
	display: inline-block;
	width: 100%;
}
.home_message_title {
	white-space: nowrap;
	overflow: hidden;
}
.item_box {
	display: inline-block;
	word-wrap: break-word;
	cursor: pointer;
	border: solid 1px $border-color;
	border-top: none;
	background-color: #fff;
	width: 100%;
}
.item_box_body {
	height: 80px;
}
.item_box_body p {
	display: block;
	display: -webkit-box;
	height: $font-size-base*3;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	height: 100%;
	overflow:hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
.message_header {
	overflow: hidden;
}