.home_header {
	margin-top: -20px;
	border-bottom: solid $normal-grey 1px;
}
.home_near_header {
	background-color: $normal-grey;
	border-bottom: solid $light-grey 1px;
}
.home_sub_header_city, .home_sub_header_date {
	margin-bottom: 0px;
  	font-size: ceil($font-size-base * 0.75);
  	font-weight: bold;
}
.home_sub_header_date {
	display: inline-block;
	width: 100%;
}
.item_box {
	display: inline-block;
	word-wrap: break-word;
	cursor: pointer;
}
.item_box_body {
	height: 80px;
}
.column_items_wrapper:nth-of-type(2) .item_box, .column_items_wrapper:nth-of-type(2) .home_header {
	background-color: $normal-grey;
}
.column_items_wrapper:nth-of-type(2) .home_header {
	border-bottom: solid 1px $light-grey;
}

@media screen and (max-width: 768px) {
	.home_header {
		margin-top: 0px;
	}
	.item_box_body {
		height: auto;
	}
}
