.home_header {
	border-left: solid $border-color 1px;
	border-right: solid $border-color 1px;
	border-top: solid $border-color 1px;
	background-color: $normal-grey;
}
.home_sub_header_city, .home_sub_header_date {
	margin-bottom: 0px;
  	font-size: ceil($font-size-base * 0.75);
  	font-weight: bold;
}
.home_sub_header_date {
	display: inline-block;
	width: 100%;
}
.item_box {
	display: inline-block;
	word-wrap: break-word;
	cursor: pointer;
	border: solid 1px $border-color;
	background-color: #fff;
}
.wrapper .row .column_items_wrapper .row {
	margin-right: 0px;
}
