// // Mixin for shadow
// @mixin box-shadow($top, $left, $blur, $color, $inset: false) {
//   @if $inset {
//     -webkit-box-shadow:inset $top $left $blur $color;
//     -moz-box-shadow:inset $top $left $blur $color;
//     box-shadow:inset $top $left $blur $color;
//   } @else {
//     -webkit-box-shadow: $top $left $blur $color;
//     -moz-box-shadow: $top $left $blur $color;
//     box-shadow: $top $left $blur $color;
//   }
// }
 
// // Mixin for text field
// @mixin text-field {
//  display: inline-block;
//   outline: none;
//   text-decoration: none;
//   padding: .5em;
//   text-shadow: 0 1px 1px rgba(0,0,0,.3);
//   @include rounded();
//   @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
// }
 
// Mixin for button
@mixin button($color: $brand-normal, $text-color: $button-text-color, $button-radius: 5px) {
  outline: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: floor($font-size-base * 2.15);
  padding: 10px 0;
  border: none;
  @include rounded($radius: $button-radius);
  @include shadow($offset: 7px, $blur: 3px, $color: rgba(0, 0, 0, 0.35));
 
  color: $text-color !important;
  background: $color;
 
  &:hover {
    text-decoration: none;
    background: saturate($color, 10%);
    @include shadow($offset: 4px, $blur: 3px, $color: rgba(0, 0, 0, 0.35));
  }
 
  &:active {
    position: relative;
    top: 1px;
    color: saturate($color, 15%);
  }
}
 
@mixin rounded($radius: 10px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin shadow($offset, $blur, $color) {
  -webkit-box-shadow: $offset $offset $blur $color;
  -moz-box-shadow:    $offset $offset $blur $color;
  box-shadow:         $offset $offset $blur $color;
}

