// Mixin for text field
@mixin text-field {
 
}
 
// Mixin for button
@mixin button($color: $brand-normal, $text-color: $button-text-color, $button-radius: 5px) {
  width: 100%;
  outline: none;
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  font-size: floor($font-size-base * 2.15);
  padding: 10px 0;
  border: none;
  @include rounded($radius: $button-radius);
  @include shadow($offset: 7px, $blur: 3px, $color: rgba(0, 0, 0, 0.35));
 
  color: $text-color !important;
  background: $color;
 
  &:hover {
    text-decoration: none;
    background: saturate($color, 10%);
    @include shadow($offset: 4px, $blur: 3px, $color: rgba(0, 0, 0, 0.35));
  }
 
  &:active {
    position: relative;
    top: 1px;
    color: saturate($color, 15%);
  }
}
 
@mixin rounded($radius: 10px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin shadow($offset, $blur, $color) {
  -webkit-box-shadow: $offset $offset $blur $color;
  -moz-box-shadow:    $offset $offset $blur $color;
  box-shadow:         $offset $offset $blur $color;
}

