// Mixin for text field
@mixin text-field {
    border: solid 1px $border-color;
    font-size: $font-size-base;
    color: $base-text-color;
    @include rounded($radius: 1px);
    box-shadow: none;
}
 
// Mixin for button
@mixin button($color: $brand-normal, $text-color: $button-text-color, $button-radius: 1px) {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  // font-size: floor($font-size-base * 2.15);
  padding: 10px 10px;
  border: none;
  margin: 10px 0;
  @include rounded($radius: $button-radius);
  @include shadow($offset: 3px, $blur: 0px, $color: darken($color, 10%));
  width: 100%;
  color: $text-color !important;
  background: $color;
 
  &:hover {
    position: relative;
    top: 1px;
    left: 1px;
    text-decoration: none;
    background: saturate($color, 10%);
    @include shadow($offset: 2px, $blur: 0px, $color: darken($color, 10%));
  }
 
  &:active {
    position: relative;
    top: 2px;
    left: 2px;
    color: saturate($color, 15%);
    @include shadow($offset: 1px, $blur: 0px, $color: darken($color, 10%));
  }
}
 
@mixin rounded($radius: 1px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin shadow($offset, $blur, $color) {
  -webkit-box-shadow: $offset $offset $blur $color;
  -moz-box-shadow:    $offset $offset $blur $color;
  box-shadow:         $offset $offset $blur $color;
}

// Mixin for errors
@mixin error($color: $brand-alert) {
    border: solid 1px $border-color;
    font-size: $font-size-base;
    color: #ffffff;
    font-style: italic;
    padding: 2px 4px;
    margin: 5px 0;
    @include rounded($radius: 1px);
    background-color: lighten($color, 0%)
}
