.top-bar {
    background: #ffffff;
    height: 45px;
    line-height: 45px;
    margin-bottom: 0;
    // max-width: 980px;
    margin: 0 auto;
}
.name {
    margin-left: 100px;
}
.top-bar-section ul {
    background: #ffffff;
}

.top-bar .toggle-topbar{
    border: solid 1px $border-color;
}


.top-bar-section .right li:hover a {
    background: #ffffff;
    color: $primary-color;
}
.top-bar-section > ul > .divider {
    border-left: none;
    border-right: solid 1px white;
    border-top: none;
    border-bottom: none;
}
.top-bar-section li a:not(.button) {
    background-color: #ffffff;
    color: $primary-color;
    line-height: 45px;
    border: solid 1px $border-color;
}

.name {
    background-color: #ffffff;
}
.toggle-topbar a span {
    text-transform: none;
}

.top-bar .name h1 a{
    color: $logo-color;
}

.contain-to-grid {
    background-color: #ffffff;
}

.top-bar .toggle-topbar a{
    color: $dark-grey;
}

.top-bar.expanded .toggle-topbar a span{
    -webkit-box-shadow: none;
    box-shadow: none;
}

// @media screen and (max-width: 940px) {
//     .top-bar-section li a:not(.button) {
//         background-color: darken(#ffffff, 5%);
//     }
// }

@media screen and (min-width: 940px) {
    .top-bar-section li a:not(.button){
            border: none;
    }
}