#progress_bar {
  display: inline-block;
}
.progress_text {
  text-align: center;
  margin: 10px 0 0 0;
}
.done {
  background-color: $brand-success;
  margin-top: 10px;
  height: 25px;
}
.not-done {
  background-color: $brand-alert;
  margin-top: 10px;
  height: 25px;
}
#first {
	@include rounded($radius: 5px 0px 0px 5px);
}
#last {
	@include rounded($radius: 0px 5px 5px 0px);
}