// STEP 1 - NAME OF REQUEST
#name {
  border: solid 2px #fff;
  font-size: 20px;
}

// Disable placeholder on input focus
input:focus::-webkit-input-placeholder {
  color: transparent!important;
}
input:focus::-moz-placeholder {
  color: transparent!important;
}
input:focus:-ms-input-placeholder {
  color: transparent!important;
}
input:focus:placeholder {
  color: transparent!important;
}