/* New request form */
.form_title {
  text-align: center;
}

// STEP 1 - NAME OF REQUEST
#name {
  border: solid 2px black;
  font-size: 20px;
}

// STEP 2 - DATE OF REQUEST
.ui-datepicker {  
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em; 
}
.ui-datepicker a {  
    text-decoration: none;  
}
.ui-datepicker table {  
    width: 100%;  
}
.ui-datepicker-header {  
    background-color: #3498db;  
    color: #fff;  
    font-weight: bold;
    line-height: 50px;
}
.ui-datepicker-title {  
    text-align: center;  
}
.ui-datepicker-prev, .ui-datepicker-next {  
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    line-height: 600%;
    overflow: hidden;
    margin-top: 10px;
}
.ui-datepicker-prev, .ui-datepicker-next:hover {  
    background-color: none;
}
.ui-datepicker-prev {  
    float: left;    
    background: url(image_path('arrow-left.png'));
    margin-left: 15px;
}  
.ui-datepicker-next {  
    float: right;  
    background: url(image_path('arrow-right.png'));
    margin-right: 15px;
}
.ui-datepicker th {  
    text-align: center;
    border: 1px solid #CCC;
    border-top: none;
}  
.ui-datepicker tbody td {  
    padding: 10px;
    border: 1px solid #CCC;
    text-align: center;
}
.ui-datepicker tbody td:hover {  
    background-color: #3498db;
    cursor: pointer;
}
.ui-datepicker tbody td:hover a {
  color: white;
}
.ui-datepicker-today {
  background-color: #3498db;
  cursor: pointer;
}
.ui-datepicker-today a {
  color: white;
}
.ui-datepicker-current-day {  
    background-color: #2ecc71;  
    color: black;
    border: none;
}

//STEP 3 - OVERVIEW
#overview_name_wrapper, #overview_date_wrapper {
  line-height: 50px;
  font-size: 1.3em;
  margin-bottom: 10px;
}
.edit-button {
  text-align: center;
  background-color: #3498db;
  color: #fff;
  border: none;
  height: 40px;
  line-height: 40px;
  width: 100%;
}


// PROGRESS BAR AND BUTTONS
#submit_button {
  text-align: center;
  padding: 10px 0;
  background-color: #3498db;
  border: none;
  color: #fff;
  font-size: 30px;
  width: 100%;
  height: 65px;
}

#progress_bar {
  display: inline-block;
}
.progress_text {
  text-align: center;
}
.first_step {
  background-color: #2ecc71;
  margin-top: 10px;
  height: 25px;
}
.second_step, .third_step {
  background-color: #bd1633;
  margin-top: 10px;
  height: 25px;
}

.next, .prev {
  text-align: center;
  padding: 10px 0;
  background-color: #3498db;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block
}

/* Disable placeholder on input focus */
input:focus::-webkit-input-placeholder {
  color: transparent!important;
}
input:focus::-moz-placeholder {
  color: transparent!important;
}
input:focus:-ms-input-placeholder {
  color: transparent!important;
}
input:focus:placeholder {
  color: transparent!important;
}

// Request overview page 

#wrapper{
  // max-width: 960px;
  // margin: 20px auto;
}

#header h1, p{
  padding-bottom: 20px;
  text-align: center;
}

#header { 
  border-bottom: solid 1px #95a5a6;
  padding: 20px 0px;
}

#new_button{
  padding-bottom: 20px;
  text-align: right;
}

/* Requests */

#request_wrapper{
  margin: 20px 0px;
}

#request{
  padding: 30px 0px;
  border-bottom: solid 1px #95a5a6;
}

#request_title{
  display: inline-block;
}

#request_date{
  display: inline-block;
  text-align: right;
}

#blue_button{
  text-align: center;
  padding: 10px 0;
  background-color: #3498db;
  color: #fff;
  display: inline-block;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
}

#green_button{
  text-align: center;
  padding: 10px 0;
  background-color: #2ecc71;
  color: #fff;
  display: inline-block;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
}

// End request overview page 
