.form_title {
  text-align: center;
}

// STEP 1 - NAME OF REQUEST
#name {
  border: solid 2px black;
  font-size: 20px;
}

//STEP 3 - OVERVIEW
#overview_name_wrapper, #overview_date_wrapper {
  line-height: 50px;
  font-size: 1.3em;
  margin-bottom: 10px;
}

// Disable placeholder on input focus
input:focus::-webkit-input-placeholder {
  color: transparent!important;
}
input:focus::-moz-placeholder {
  color: transparent!important;
}
input:focus:-ms-input-placeholder {
  color: transparent!important;
}
input:focus:placeholder {
  color: transparent!important;
}