body{
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.5;
}

h1{
  font-family: $font-family;
  font-size: 3em;
  font-weight: 700;
  color: $primary-green;
}

h2{
  font-family: $font-family;
  font-size: 2.5em;
  font-weight: 400;
  color: $primary-green;
}

h2 strong{
  font-family: $font-family;
  font-weight: 400;
}

h3{
  font-family: $font-family;
  font-size: 1.5em;
  font-weight: 400;
  color: #fff;
}

p{
  font-family: $font-family;
  font-size: 1em;
}

@media only screen and (max-width: 480px) {

   body { 
    font-size: 0.8em;
  }

}