p,a{
  font-weight: $normal-font-weight;
}

h1,h3,h4,h5,h6{
  font-weight: $header-font-weight;
}

h2{
  font-weight: $sub-header-font-weight;
}

h1,h2{
  color: $primary-green;
}

h3,h4,h5,h6{
  color: $base-text-color;
}

p{
  font-size: $font-size-base;
}

h1{ font-size: floor($font-size-base * 2.60); }
h2{ font-size: floor($font-size-base * 2.15); }
h3{ font-size: ceil($font-size-base * 1.70); }
h4{ font-size: ceil($font-size-base * 1.25); }
h5{ font-size: $font-size-base; }
h6{ font-size: ceil($font-size-base * 0.85); }

@media only screen and (max-width: 480px) {

   body { 
    font-size: ceil($font-size-base * 0.85);
  }

}