p,a{
  font-weight: $normal-font-weight;
}

a{
	color: $link-color;
}

a:visited{
	color: $link-color-visited;
}

h1,h2,h3,h4,h5,h6{
	font-family: $font-family;
  font-weight: $header-font-weight;
  color: $base-text-color;
}

h1{
	margin-bottom: 20px;
}

p{
  font-size: $font-size-base;
  margin-bottom: 10px;
}

h1{ font-size: floor($font-size-base * 2.60); }
h2{ font-size: floor($font-size-base * 2.15); }
h3{ font-size: ceil($font-size-base * 1.70); }
h4{ font-size: ceil($font-size-base * 1.25); }
h5{ font-size: $font-size-base; }
h6{ font-size: ceil($font-size-base * 0.85); }

label {
	font-size: $font-size-base;
}

.message_header {
	margin-bottom: 0px;
}
// @media only screen and (max-width: 480px) {

//    body { 
//     font-size: ceil($font-size-base * 0.85);
//   }

// }