<!doctype html>
<html lang="nl">
	<head>
		<meta charset="utf-8">
		<title>Hulpvraag overzicht</title>
		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="style.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
	<div class="row" id="wrapper">
		<div class="small-12 columns" id="header">
			<h1>Hulpvraag overzicht</h1>
			<p>Hieronder ziet u het overzicht van de hulpvragen.
				Om in contact te komen klik op de reageeren knop.
			</p>
			<a id="new_button" href="/requests/new">Nieuwe oproep</a>
		</div>
		<div class="row" id="request_wrapper">
			<% @requests.each do |request| %>
			<div class="small-12 columns" id="request">
				<div class="small-6 columns" id="request_title">
				<h2><%= request.title %></h2>
				</div>
				<div class="small-6 columns" id="request_date">
				<h2><strong><%= request.date.strftime("%A %e-%m-%Y") %></strong></h2>
				</div>
				<div class="row" id="request_buttons">
					<a href="" class="small-6 columns" id="blue_button">Details</a>
					<a href="" class="small-6 columns" id="green_button">Reageren</a>
				</div>
			</div>
			<% end %>
		</div>
	</div>

	</body>
</html>