<div class="wrapper">
  <div class="header">
    <h1>Nieuwe oproep</h1>
  </div>
  <% if @request.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@request.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
      <% @request.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="request_form_wrapper">
  <h1>Welke oproep zou u willen toevoegen?</h1>
    <%= form_for(@request) do |f| %>
    <div id="request_form_name">
      <input type="text" name="title" placeholder="Naam van uw oproep"  title="Minimaal 10 karakters invullen" value="<%=@request.title%>" id="name">
    </div>
    <div id="request_form_date">
      <div id="date"></div>
      <input type="hidden" name="date" id="actualDate">
    </div>
    <div id="request_form_overview">
      Titel: <span id="title_overview"></span><br>
      Datum: <span id="date_overview"></span>
    </div>
    <div id="submit_button">
      <input type="submit">
    </div>
  <% end %>
    <div class="next">
      Volgende
    </div>
    <div class="prev">
      Vorige
    </div>
  </div>
</div>