<!-- STEP 3 - OVERVIEW -->
<div class="row">
  <div class="small-12">
    <h2 class="form_title" id="title_overview">Controleer uw oproep.</h2>
    <div id="request_form_overview">
      <div class="row" id="overview_name_wrapper">
        <div class="small-9 small-centered columns">
          <div class="small-3 columns">
            Titel:
          </div>
          <div id="name_overview_val" class="small-6 columns">
          </div>
          <div class="small-3 columns edit-button">
            Bewerken
          </div>
        </div>
      </div>
      <div class="row" id="overview_date_wrapper">
        <div class="small-9 small-centered columns">
          <div class="small-3 columns">
            Datum:
          </div>
          <div id="date_overview_val" class="small-6 columns">
          </div>
          <div class="small-3 columns edit-button">
            Bewerken
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
