	<div class="small-12 large-4 columns home_recent_header">
		<h3>Recent</h3>
	</div>
	<div class="small-12 large-4 columns home_near_header">
		<h3>In de buurt</h3>
	</div>
	<div class="small-12 large-4 columns home_populair_header">
		<h3>Populair</h3>
	</div>
</div>
<div class="row">
	<div class="small-12 large-4 columns">
		<div class="row">
			<div class="small-12 large-12 columns">
				<h4>Dakgoot reinigen</h4>
			</div>
		</div>
		<div class="row">
			<div class="small-6 large-6 columns">
				<span class="home_sub_header_city">Leeuwarden</span>
			</div>
			<div class="small-6 large-6 columns">
				<span class="home_sub_header_date">Leeuwarden</span>
			</div>
		</div>
	</div>
</div>
