<div class="row">
	<div class="small_12 large-4 columns">
		<h1>Recent</h1>
	</div>
	<div class="small-12 large-4 columns">
		<h1>In de buurt</h1>
	</div>
	<div class="small-12 large-4 columns">
		<h1>In de buurt</h1>
	</div>
</div>
