// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End reset */

/* Font wide styles */
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 36pt;
  font-weight: 700;
  margin: 20px;
  line-height: auto;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 30pt;
  font-weight: 700;
}

h2 strong{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16pt;
}
/* End font wide styles */

.wrapper{
  width: 100%;
  max-width: 960px;
  margin: 20px auto;
}

.header h1, p{
  padding-bottom: 20px;
}

.header{ 
  border-top: solid 1px #95a5a6;
  border-bottom: solid 1px #95a5a6;
  padding: 20px 0px;
  text-align: center;
}

/* New request form */

#request_form_wrapper {

}

#request_form_name {
  width: 100%;
  max-width: 920px;
  margin: 10px 20px;
}
#request_form_date {
  display: none;
}
#submit_button {
  display: none;
}

.next, .prev {
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
}
