body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin: 20px;
  line-height: auto;
}

h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5em;
  font-weight: 700;
}

h2 strong{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}